[submodule "third-party/slam_toolbox"]
	path = third-party/slam_toolbox
	url = https://github.com/Zhangdong1977/slam_toolbox.git
[submodule "third-party/rplidar_sdk"]
	path = third-party/rplidar_sdk
	url = https://github.com/slamtec/rplidar_sdk.git
[submodule "third-party/aws-robomaker-small-warehouse-world"]
	path = third-party/aws-robomaker-small-warehouse-world
	url = https://github.com/aws-robotics/aws-robomaker-small-warehouse-world.git
[submodule "third-party/m-explore-ros2"]
	path = third-party/m-explore-ros2
	url = https://github.com/robo-friends/m-explore-ros2.git
